@charset "utf-8";

 @font-face {
  font-family: 'Nanum';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Nanum.eot);
  src: url(../fonts/Nanum.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Nanum.woff2) format('woff2'),
       url(../fonts/Nanum.woff) format('woff'),
       url(../fonts/Nanum.ttf) format('truetype');
} 
 @font-face {
  font-family: 'NanumBold';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumBold.eot);
  src: url(../fonts/NanumBold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumBold.woff2) format('woff2'),
       url(../fonts/NanumBold.woff) format('woff'),
       url(../fonts/NanumBold.ttf) format('truetype');
} 
