@import url(portgrid.css);
*{margin:0; padding:0;}a{text-decoration:none; color:black;}
/* 뷰 */
header{width:100%; height:1500px; position:relative;}
.view{
	width:1600px; height:900px; 
	position:absolute; left:50%; transform:translate(-50%); 
}
/* 헤더 컨텐츠 */
.h-contents{
	width:960px; height:1200px; 
	position:absolute; left:50%; transform:translate(-50%); top:50px;
}
/* 탑 */
.h-contents .h-top{width:960px; height:80px;}
/* 로고 */
.h-contents .h-top .rogo{
	width:230px; height:50px; float:left; 
	background-height:100%;
	margin-top:10px;
}
/* 네비 */
.h-contents .h-top .navigation{
	width:600px; height:60px; float:right;
}
/* 네비속성 */
.h-contents .h-top .navigation div[class*=nav]{
	width:100px; line-height:40px; float:left;
	background-color:#444444; 
	text-align:center;
	margin-top:20px;
}
.h-contents .h-top .navigation a:first-child div{border-radius:8px 0 0 8px;}
.h-contents .h-top .navigation a:last-child div{border-radius:0 8px 8px 0;}
/* 네이게이션호버 */
.h-contents .h-top .navigation a:nth-child(1) .nav01:hover,
.h-contents .h-top .navigation a:nth-child(2) .nav02:hover,
.h-contents .h-top .navigation a:nth-child(3) .nav03:hover,
.h-contents .h-top .navigation a:nth-child(4) .nav04:hover,
.h-contents .h-top .navigation a:nth-child(5) .nav05:hover,
.h-contents .h-top .navigation a:nth-child(6) .nav06:hover{background-color:#c3261f; color:#DDDDDD;}
/* 중간로고 */
.h-contents .h-midium{width:350px; height:120px; margin:0 auto; margin-top:250px;}


/* 헤더컨텐츠01 */
.h-contents .h-bottom{height:800px; margin-top:300px;}
.h-contents .h-bottom .spans{height:800px;}
.h-contents .h-bottom .span_4{height:500px; box-shadow:4px 4px 50px rgba(0,0,0, .5); background-color:white; overflow:hidden;}
.h-contents .row .span_4 .img{width:100%; height:225px;}
.h-contents .row .span_4 .textbox{
	height:170px; 
	margin:0 auto; margin-top:30px; text-align:center;
}
/* bg컬러 */
header .bg{width:1600px; height:1400px; background-color:#EEEEEE50; margin:0 auto;}

/* 첫번째컨텐츠츠츠츠츠츠츠 */
/* 컨텐츠01 */
.contents{width:100%; height:3000px;position:relative;} /* 부모 */
.content{width:960px;  position:absolute; left:50%; transform:translate(-50%);} /* 자식 */
.content .section01{width:100%;}
.content .section01 .box01{ height:1100px;}
.content .section01 .box01 .text{width:600px;  height:350px;  margin:0 180px; text-align:center;overflow:hidden;}
.content .section01 .box01 .img-box{
	width:100%;height:388px;
}
.content .section01 .box01 .img-box .food{
	height:370px;
	background-color:black;
}
/* 컨텐츠02 */
.content .section02{
	width:100%; height:500px; background-color:blue; position:static;
}
/* 중간백그라운드이미지 */
.contents .backimage{
	position:absolute; width:2300px;height:500px; left:50%; transform:translate(-50%); z-index:-1; top:1200px; background-color:pink;
}
/* 컨텐츠03 */
.content .section03{background-color:red; height:500px; margin-top:700px;}
/* box01 */
.content .section03 .box01{height:500px; background-color:pink;}
.content .section03 .box01 .text-box{
	height:500px; background-color:red;
}
.content .section03 .box01 .img-box{
	height:500px; background-color:#ccc;
}
.content .section03 .box01 .img{
	height:500px;
}
/* box02 */
.content .section03 .box02{height:500px; background-color:blue;}
/* footer */
footer{height:500px;position:relative; background-color:green; }
.footer{width:1400px; height:500px; position:absolute; left:50%; transform:translate(-50%); background-color:red;}
.footer .f-top{width:960px; height:500px; background-color:pink; left:50%; transform:translate(-50%); position:absolute; top:-120px;}

	
	
	
	
	
	
	
	
	
	
	
	
	