input:enabled{
	background:black;
}

input:disabled{
	background:pink;
} 

input:focus{
	border:10px solid red;
	background:gold;
	color:#FF0040
}
input[disabled]{width:300px; height:50px;}
/*  input[type=checkbox]:checked~.box01{
	display:block;	
 } */
 .box01{
	margin:50px;
	width:200px;
	height:100px;
	background-color:#CECEBF;
	border-radius:90px;
	border:5px solid #444444;
	box-sizing:border-box;
	display:none;
 }
 .box02{font-size:2em; color:#FF265C; display:none;}
 .box03{font-size:3em; color:#73FFFF; display:none;}
 .box04{font-size:4em; color:#686859; display:none;}
 #a:checked~.box01{display:block;} 
 #b:checked~.box02{display:block;} 
 #c:checked~.box03{display:block;} 
 #d:checked~.box04{display:block;} 